PORT=3000
HOST=0.0.0.0
NODE_ENV=
DATABASE_URL=postgresql://username:password@localhost:5432/database_name
POSTGRES_PORT=5432
SENDGRID_API_KEY=
FRONt_END_URL=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
JWT_USER_ACCESS_SECRET=
JWT_USER_REFERSH_SECRET=
JWT_USER_ACCESS_TOKEN_EXPIRY=
JWT_USER_REFRESH_TOKEN_EXPIRY=
STORAGE_PROJECT_ID=
STORAGE_KEY_FILE_NAME=
STORAGE_BUCKET_NAME=
STORAGE_BUCKET_URL=