PORT=3000
HOST=0.0.0.0
NODE_ENV=
DATABASE_URL=postgresql://username:password@localhost:5432/database_name
POSTGRES_PORT=5432
SENDGRID_API_KEY=
FRONt_END_URL=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
JWT_USER_ACCESS_SECRET=
JWT_USER_REFERSH_SECRET=
JWT_USER_ACCESS_TOKEN_EXPIRY=
JWT_USER_REFRESH_TOKEN_EXPIRY=
GC_PROJECT_ID=
GC_BUCKET_NAME=
GC_BUCKET_URL=
GC_PRIVATE_KEY_ID=
GC_CLIENT_EMAIL=
GC_CLIENT_ID=
GC_PRIVATE_KEY=
GOOGLE_RECAPTCHA_SECRET_KEY=